.title-solicitacao {
    font-family: 'Plus Jakarta Sans' !important;
    font-size: 24px !important;
    font-weight: 700 !important;
    line-height: 30px !important;
    color: #C196EC !important;
}

input {
    border-radius: 6px !important;
}

.panel {
    border-radius: 8px !important;
}

/* Painel Inicio */
.new-panel {
    display: flex !important;
    align-items: center !important;
    border: 1px solid #c5c5c5 !important;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%) !important;
    border-radius: 8px !important;
    height: 60px !important;
    color: #545454 !important;
    font-size: 1.4rem !important;
    background: transparent !important;
}

.panel-img {
    padding-right: 15px;
    width: 38px;
}

.new-title {
    font-family: 'Plus Jakarta Sans' !important;
    font-size: 22px !important;
    font-weight: 700 !important;
    line-height: 27px !important;
    color: #939393 !important;
}

.new-subtitle {
    font-family: 'Roboto' !important;
    font-size: 24px !important;
    font-weight: 700 !important;
    line-height: 28px !important;
    text-align: center;
}

.bar-default {
    width: calc(100% / 6) !important;
   
}

.active-bar {
    display: block !important;
    background-color: #F5851E !important;
}

.current-bar {
    background-color: #49CE3F !important;
}

.off-bar {
    display: none !important;
}

.final-bar {
    width: 100% !important;
}

.container-step {
    width: 100%;
    display: flex;
}

.container-child-bars {
    margin-bottom: 0px !important;
}

.progress-default {
    background: #E0E0E0 !important;
    border-radius: 12px !important;
}

.step-title {
    font-family: 'Roboto', sans-serif !important;
    width: calc(100% / 6) !important;
    font-size: 14px !important;
    font-weight: 700 !important;
    line-height: 16px !important;
    text-align: center;
}


/* Dados do solicitante */
.input-bg {
    background: #E0E0E0 !important;
}

/* informações do cliente */
.line {
    width: 100%;
    border-bottom: 1px solid #9F9F9F;
    margin: 28px 0px;
    border-radius: 4px;
}

.limite-date {
    display: flex !important;
    justify-content: space-between !important;
    border-bottom: 1px solid #9F9F9F;
}

.limite-date .progress {
    width: 88% !important;
    border-radius: 12px !important;
    background: #E0E0E0 !important;
}

.limite-date span {
    display: flex;
    justify-content: end;
    width: 12% !important;
}


/* informações do projeto */
.tr-container td {
    font-family: 'Roboto' !important;
    font-size: 14px !important;
    font-weight: 700 !important;
    line-height: 16px !important;
}

.btn_remover_item {
    cursor: pointer !important;
}

.rows-cont td {
    border: none !important;
}

.btn-add {
    background: #0381FF !important;
    color: #Fff !important;
    outline: none !important;
}

.btn-add:hover {
    background: #056fda !important;
}

.btns-center {
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    position: relative !important;
}

.btns-center span, .txt-desc-anexo, .txt-nome-arquivo {
    font-family: 'Roboto' !important;
    font-size: 22px !important;
    font-weight: 500 !important;
    line-height: 16px !important;
    color: #A7A7A7 !important;
}

.anexo-items {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
}

.input-date {
    padding: 0 !important;
    display: flex !important;
    align-items: center !important;
}

.input-date input {
    width: 80%;
    height: 100% !important;
    padding: 4px !important;
}

.input-date span {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center !important;
    background: #9F9F9F;
    width: 32% !important;
}

.remove-anexo{
    position: absolute;
    left: -48px !important;
}

.check-anexo {
    display: none !important;
}




/* Observações Solicitante */
.text-obs {
    border: 1px solid #9F9F9F !important;
    border-radius: 6px !important;
    padding: 22px !important;
    font-family: 'Roboto' !important;
    font-weight: 500 !important;
    line-height: 16px !important;
    font-size: 18px !important;
}


/* tempo final */
.tempo-container {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.card-dias {
    display: flex !important;
    flex-direction: column !important;
    padding: 28px !important;
    width: 430px !important;
    height: 100% !important;
    border-radius: 8px !important;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px !important;
}

.circle-decorridos, .circle-restantes {
    width: 21px !important;
    height: 21px !important;
    border-radius: 50%;
}

.circle-decorridos {
    background-color: #C196EC !important;
}

.circle-restantes {
    background-color: #C8C8C8 !important;
}

.limite-item {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center;
}

.limite-item p, .doc-downalod p{
    display: flex !important;
    align-items: center;
}

.limite-item p span, .limite-item p img, .doc-downalod p img{
   margin-right: 16px !important;
}

.limite-item:first-child {
    border-bottom: 1px solid #C8C8C8 !important;
    margin-bottom: 8px !important;
} 


/* Docs da solicitação  */
.doc-downalod {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    border-bottom: 1px solid #C8C8C8 !important;
    padding-bottom: 8px !important;
}

.doc-downalod p {
    font-family: "Roboto", sans-serif !important;
    font-weight: 500 !important;
    font-size: 22px !important;
    line-height: 26px !important;
    color: #A7A7A7 !important;
}

/* historico de obs  */
.avatar {
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
    align-items: center !important;
    margin-top: 8px !important;
}

.avatar .avatar-img {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    width: 80px !important;
    height: 80px !important;
    border-radius: 50% !important;
    border: 2px solid #C196EC !important;
}

.avatar .avatar-img img {
    width: 80px !important;
    height: 80px !important;
    border-radius: 50% !important;
}

.avatar p {
    display: flex !important;
    flex-direction: column !important;
    text-align: center !important;
    font-weight: bold;
}

.avatar span {
    font-weight: 500;
}

.avatar div input {
    color: #000;
}

.hora-obs {
    font-family: "Roboto", sans-serif !important;
    font-weight: 400 !important;
    font-size: 20px !important;
    line-height: 23px !important;
    color: #767676 !important;
}

.name-obs {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
}

.msg input {
    height: 108px !important;
    margin-top: 8px !important;
}

/* status levan */
.status-levan select {
   margin-top: 4px !important;
   margin-bottom: 16px !important;
}

.btn-status {
    display: flex !important;
    justify-content: center !important;
    width: 100% !important;
}

.btn-status button {
    width: 260px !important;
}


/* docs levan  */
.links {
    border-bottom: 1px solid #C8C8C8 !important;
    margin-bottom: 8px !important;
}

.error {
    border-color: #cc3d3d !important;
}

.input-edit {
    width: 80% !important;
    border-radius: 4px 0px 0px 4px !important;
}

.icon-edit {
    height: 34px !important;
    cursor: pointer !important;
    transition: all ease .5s !important;
}

.icon-edit:hover {
    background-color: #9F9F9F !important;
}

.icon-edit img {
    height: 90% !important;
}

.input-edit-sm {
    width: 70% !important;
    border-radius: 4px 0px 0px 4px !important;
}

.link {
    font-style: italic !important;
    color: #B6B6B6 !important;
}

.reuniao-title {
    font-family: "Roboto", sans-serif !important;
    font-weight: 700 !important;
    font-size: 18px !important;
    line-height: 21px !important;
    margin-bottom: 16px !important;
}

.part-text p{
    display: flex !important;
    justify-content: center !important;
    font-family: "Roboto", sans-serif !important;
    font-weight: 700 !important;
    font-size: 18px !important;
    line-height: 21px !important;
    text-decoration: underline !important;
    margin-top: 16px !important;
    text-align: center !important;
    cursor: pointer;
}

.participantes {
    margin-top: 32px !important;
}

.open-participantes {
    display: none !important;
}

.part-item {
    display: flex !important;
    align-items: center !important;
    border-bottom: 1px solid #C8C8C8 !important;
}

.part-item input {
    width: 100% !important;
    background: none !important;
    border: none !important;
    padding: 8px !important;
    outline: none !important;

}

.open {
    display: block !important;
}

.open-add-horas {
	border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;											
}

.icon-edit-horas {
    height: 34px !important;
    cursor: pointer !important;
    transition: all ease .5s !important;
}

.icon-edit-horas:hover {
    background-color: #9F9F9F !important;
}

.icon-edit-horas img {
    height: 90% !important;
}

.close-add-horas {
    display: none !important;
}